{
    "printWidth": 120,
    "bracketSpacing": true,
    "endOfLine": "auto",
    "formatOnSave": true,
    "semi": true,
    "singleQuote": true,
    "tabWidth": 2,
    "trailingComma": "es5",
    "arrowParens": "always",
    "overrides": [
        {
            "files": "*.ts,*.tsx",
            "options": {
                "parser": "typescript"
            }
        }
    ]
}
